/* NAVBAR */

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-bottom: 2px solid #000000;
    padding: 25px 0;
    background-image: url('../assets/Snow.svg');
}

#nav__logo {
    max-width: 400px;
}

#nav__bar--links {
    list-style-type: none;
    display: flex;
}

#nav__bar--links li {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__bar--link {
    text-decoration: none;
    color: #000;
    margin: 8px;
    font-weight: 500;
    position: relative;
    transition: all 450ms ease;
    font-size: 16px;
}

.nav__bar--link::after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    width: 0;
    right: 0;
    background-color: #000;
    transition: all 450ms ease;
}

.nav__bar--link:hover::after {
    left: 0;
    width: 100%;
}

#nav__signOut--btn {
    background: none;
    border: none;
    text-decoration: none;
    color: #000;
    margin: 8px;
    font-weight: 500;
    transition: all 450ms ease;
    font-size: 16px;
    font-family: inherit;
}

#nav__signOut--btn:hover {
    color: aqua;
}